<div class="auth-page">
  <div class="auth-inputs-container">
    <form [formGroup]="formGroup" (submit)="onSubmit()">
      <div class="input-row">
        <label for="email">EMAIL:</label>
        <input formControlName="email" type="email" id="email">
        <div class="error" >
          <span
            *ngIf="formGroup.hasError('email', 'email') && !formGroup.get('email')!.untouched || formGroup.hasError('required', 'email') && !formGroup.get('email')!.untouched"
          >
            Incorrect value
          </span>
        </div>
      </div>
      <div class="input-row">
        <label for="email">PASSWORD:</label>
        <input formControlName="password" type="password" id="password">
      </div>
      <button class="submit" [disabled]="formGroup.invalid">SUBMIT</button>
    </form>
  </div>
</div>
