.loading {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #00000094;
  z-index: 1000;
}

.message {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 300px;
  background-color: #fff;
  padding: 5px;
  color: brown;
  border-radius: 5px;
  word-break: break-all;
}
