header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #222b5b;
  margin-bottom: 10px;
}

.logout {
  margin-left: auto;
  border: 1px solid #425ce7;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}
